<div class="uk-flex-left uk-margin-medium-left" uk-grid>
  <div class="uk-width-1-3@m">
    <p class="uk-text-center uk-margin-small-top uk-margin-medium-bottom">
      <h1 class="degrade">Retrouvez-vous, partout et à tout moment</h1>

      <p>Grâce à Messenger, garder le contact avec vos proches n’a jamais été aussi facile et amusant.</p>

      <div class="uk-margin-small">
        <input class="uk-input" type="text" placeholder="Adresse e-mail ou mobile" maxlength="100">
      </div>
      <div class="uk-margin-small">
        <input class="uk-input" type="password" placeholder="Mot de passe" maxlength="100">
      </div>
      <div class="uk-margin">
        <a href="/conversation-page" class="uk-button uk-button-primary">Se connecter</a>
        <a routerLink="/reset-password" class="uk-align-right">Mot de passe oublié ?</a>
      </div>
      <div class="uk-margin">
        <input type="checkbox" id="resterConnecte">
        <label for="resterConnecte">Rester connecté(e)</label>
      </div>
  </div>

  <div class="uk-width-expand@m">
    <div >
      <img src="assets/photoLogin.png" alt="description">
    </div>
  </div>

</div>

<div class="uk-text-center">
  <small>Le logo Messenger appartient est d'une marque déposée appartenant à son titulaire.</small>
</div>
