<div class="uk-flex-left uk-margin-medium-left" uk-grid>
  <div class="uk-width-1-3@m">
    <p class="uk-text-center uk-margin-small-top uk-margin-medium-bottom">
      <h1 class="degrade bigger-text">Retrouvez-vous, <br> partout et à tout moment</h1>

      <p class="text">Grâce à Messenger, garder le contact avec vos proches <br> n’a jamais été aussi facile et amusant.</p>

      <div class="uk-margin-small" id="email">
        <input class="uk-input" type="email" placeholder="Adresse e-mail ou mobile" maxlength="100" name="email" [(ngModel)]="email" #emailInput="ngModel" required>
        <small *ngIf="!validateEmail(emailInput)" class="uk-form-danger">Adresse Email incorrecte, saisir un e-mail dans le  format xxx@xxx.xxx.</small>
      </div>
      <div class="uk-margin-small" id="motPasse">
        <input class="uk-input" type="password" placeholder="Mot de passe" maxlength="100" name="motPasse" [(ngModel)]="motPasse" #motPasseInput="ngModel" required>
        <small *ngIf="!validateMotPasse(motPasseInput)" class="uk-form-danger">Le mot de passe doit contenir au moins 8 caractères. </small>
      </div>

      <div class="uk-margin">
        <button [disabled]="!isValidForm(emailInput,motPasseInput)" [routerLink]="['/conversation-page']" class="uk-button uk-button-primary"  (click)="login()">Se connecter</button>
        <a routerLink="/reset-password" class="uk-align-right">Mot de passe oublié ?</a>
      </div>

      <div class="uk-margin">
        <input type="checkbox" id="sauvegarder">
        <label for="sauvegarder" (click)=" enrigestreLogin()">Rester connecté(e) ?</label>
      </div>
  </div>

  <div class="uk-width-expand@m">
    <div >
      <img src="assets/photoLogin.png" alt="description">
    </div>
  </div>

</div>

<div class="uk-text-center">
  <small>Le logo Messenger appartient est d'une marque déposée appartenant à son titulaire.</small>
</div>
