button.uk-button-primary {
    background-color: blue; 
    color: white; 
    border-radius: 10px; 
    
}


.bigger-text {
    font-size: 110px; 
  
}

.degrade {
    font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
}

.text{
  color: #595959;
  font-size: 20px;
}