<div class="uk-background">
  <div class="uk-container uk-transparent">
    <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">
          <img src="assets/logo/logo.png" width="35px">
        </a>
      </div>

      <div class="uk-navbar-right">
        <ul class="barrenavdroite">
          <li><a (click)="redirectionAlert('https://www.messenger.com/features')">Fonctionnalités</a></li>
          <li><a (click)="redirectionAlert('https://www.messenger.com/desktop')">Application de bureau</a></li>
          <li><a (click)="redirectionAlert('https://www.messenger.com/privacy/')">Confidentialité et sécurité</a></li>
          <li><a (click)="redirectionAlert('https://developers.facebook.com/products/messenger/')">Pour les développeurs</a></li>
        </ul>
      </div>


    </nav>
  </div>
</div>
