.fullwidth {
  width: 76vw;
}

#righbght {
  display: flex;
  float: right;
  height: 100vh;
  background-color: #6e2323;
}

.inputText {
  width: 500px;
  height: 35px;
  border-radius: 30px;
}

.pad {
  padding-left: 10px;
  padding-right: 10px;
}

.chatSmallDiscussionskjh {
  display: flex;
  max-width: 770px;
  min-width: 600px;
  background-color: #6e2323;
}

.paddingMarginIcons {
  padding-right: 20px;
}

.fontNav {
  font-weight: bold;
  font-size: 20px;
}


.inputBar {
  padding: 0px;
  margin: 0px;
  background-color: #CCCCCC;
  height: 8vh;
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center;
}
.buttonSend{
height:35px;
width: 70px;
border-radius:20px;

}

.center {
  text-align: center;
}

.chat-container {
  display: flex;
  flex-direction: row;
}

.toggleMoreDetails {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
  background-color: white; 
}

.toggleMoreDetails.active {
  width: 300px;
  z-index: 1;
}

.inputBar {
  flex: 1; 
}

#stickyTop {
  position: relative; 
}

.visible-style {
  padding-right: 320px; 
}
.hidden-style{
  padding-right: 20px; 
}

.profileImage {
  width: 80px; 
  height: 80px; 

}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section h4 {
  margin-bottom: 10px; 
}

.subsection {
  width: 100%;
  margin-top: 10px;
}

.image-grid {
  display: flex;
  flex-direction: column; 
}

.image-item {
  padding: 5px; 
}

.image-item img {
  width: 100%; 
  height: auto; 
  max-width: 100%; 
  max-height: 100%; 
}


.chat-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.sent {
  align-self: flex-end;
  background-color: #0084ff;
  color: white;
  margin-right: 40px;
}
.notSent {
  margin-left: 40px;
  align-self: flex-start;
  background-color: #60003b;
  color: white;
}

.input-container {
  display: flex;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-left: 8px;
  padding: 8px;
  background-color: #0084ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
