.fullwidth {
  width: 76vw;
}

#righbght {
  display: flex;
  float: right;
  height: 100vh;
  background-color: #6e2323;
}

.inputText {
  width: 500px;
  height: 35px;
  border-radius: 30px;
}

.pad {
  padding-left: 10px;
  padding-right: 10px;
}

.chatSmallDiscussionskjh {
  display: flex;
  max-width: 770px;
  min-width: 600px;
  background-color: #6e2323;
}

.paddingMarginIcons {
  padding-right: 20px;
}

.fontNav {
  font-weight: bold;
  font-size: 20px;
}

.inputBar {
  padding: 0px;
  margin: 0px;
  background-color: #CCCCCC;
  height: 8vh;
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center;
}

.center {
  text-align: center;
}

.chat-container {
  display: flex;
  flex-direction: row;
}

.toggleMoreDetails {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
  background-color: white; 
}

.toggleMoreDetails.active {
  width: 300px;
  z-index: 1;
}

.inputBar {
  flex: 1; 
}

#stickyTop {
  position: relative; 
}

.paddingMarginIcons {
  padding-right: 320px; 
}

.profileImage {
  width: 80px; 
  height: 80px; 

}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section h4 {
  margin-bottom: 10px; 
}

.subsection {
  width: 100%;
  margin-top: 10px;
}

.image-grid {
  display: flex;
  flex-direction: column; 
}

.image-item {
  padding: 5px; 
}

.image-item img {
  width: 100%; 
  height: auto; 
  max-width: 100%; 
  max-height: 100%; 
}

