<div class="chat fullwidth">
    <nav class="uk-navbar-container fullwidth" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav ">

                <li class="uk-active ">
                    <article class="uk-comment ">
                        <img class="uk-comment-avatar " src="assets/userblue.png" width="70" height="70">
                        <span class="chatNameLarge fontNav">Simon</span>
                    </article>
                </li>


            </ul>
        </div>
        <div class="uk-navbar-right paddingMarginIcons">
            <ul class="uk-navbar-nav ">
                <li class="uk-active  ">
                    <a uk-icon="icon: receiver; ratio: 2"></a>
                </li>
                <li class="uk-active  ">
                    <a uk-icon="icon: camera; ratio: 2"></a>
                </li>
                <li class="uk-active ">
                    <a uk-icon="icon: more; ratio: 2"></a>
                </li>
            </ul>
        </div>
    </nav>
</div>