<div>
  <button>Fonctionnalités</button>
  <button>Application de bureau</button>
  <button>Confidentialité et securité</button>
  <button>Pour les développeurs</button>
</div>

<div>
  <h1>Retrouvez-vous, <br>
    partout et à tout moment</h1>

  <p>Grâce à Messenger, garder le contact avec vos proches n’a jamais été aussi facile et amusant.</p>
</div>

<div id="login">
  <form>
    <input type="text" placeholder="Adresse e-mail ou mobile" maxlength="100"><br>
    <input type="text" placeholder="Mot de passe" maxlength="100"><br>
    <button>Se connecter</button>
    <button>Mot de passe oublié ?</button>
    <button>Rester connecté(e)</button>
  </form>
  <button>Télércharger dans l'App Store</button>
  <button>Obtenir sur Microsoft</button>
</div>

<div id="image">

</div>

<div>
<small>Les logos Apple et Google Play sont des marques déposées appartenant à leurs titulaires respectifs.</small>
<button>Politique de confidentialité</button>
<button>Politique d'utilisation de cookies</button>
</div>
